/* 캘린더 */
.react-calendar {
  width: 330px;
  max-width: 100%;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

/* ------------------------------ */

/* 캘린더 상단 네비게이션(년, 월) */
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

/* ------------------------------ */

/* 요일 */
.react-calendar__month-view__weekdays {
  text-align: center;
}

/* 월화수목금토일 */
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  abbr {
    text-decoration: none;
  }
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------------------------------ */

/* 일 선택 */
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  text-align: center;
  font-size: 14px;
  color: #454545;
}

/* 이전 혹은 이후 달 일 */
.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: #c3c3c3;
}

/* 이전 날짜 */
.react-calendar__tile:disabled {
  color: #c3c3c3;
}

/* 호버됐을 때 색상 */
.react-calendar__tile:enabled:hover {
  position: relative;

  ::before {
    position: absolute;
    content: '';
    height: 30px;
    width: 30px;
    top: 50%;
    left: 50%;
    background: #f0f0f0;
    opacity: 0.7;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
  }
}

/* 선택한 날짜 */
.react-calendar__tile--active {
  opacity: 0.7;
  position: relative;

  ::before {
    position: absolute;
    content: '';
    height: 30px;
    width: 30px;
    top: 50%;
    left: 50%;
    background: #50bead;
    opacity: 0.7;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -2;
  }
}

/* 오늘 */
.react-calendar__tile--now {
  color: #50bead;
  font-weight: 400;
}

.react-calendar__tile--now.react-calendar__tile--active {
  color: #454545;
}
